.newsContainer {
  width: 800px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.newsList {
  margin: 15px auto;

  align-content: center;
}
.newsBox {
  width: 800px;

  border-radius: 6px;
  border: solid 1px #ffb142;
  background-color: #ffffff;
  margin: 0 auto 40px 0;
  padding: 25px 30px 30px 30px;
  list-style-type: none;
}

.newsInfoList {
  list-style-type: none;
}
.newsTitle {
  object-fit: contain;
  font-family: FuturaPT;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  color: #2e3c3f;
}
.newsInfoTitle {
  object-fit: contain;
  font-family: FuturaPT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.35px;
  color: #2e3c3f;
  position: relative;
}
.newsInfoTitle::before {
  content: "";
  position: absolute;
  display: flex;
  width: 15px;
  height: 14px;
  left: -17px;
  top: 4px;
  background-image: url("../../assets/star.svg");
}
.newsInfo {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.35px;
  position: relative;
  color: #2e3c3f;
  margin: 0 0 18px 0;
}
.newsInfo::before {
  content: "";
  position: absolute;
  display: flex;
  width: 6px;
  height: 6px;

  border-radius: 100%;
  border: 1px solid #ff256e;
  transform: translateY(-50%);
  left: -15px;
  top: 12px;
}
.newsAbout {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.01px;
  color: #8b9395;
  position: relative;
  margin-bottom: 43px;
}
.newsAbout::after {
  content: "";
  position: absolute;
  display: flex;
  width: 740px;
  border: 1px solid #f5f5f5;
  top: 45px;
  margin: 0 auto 0 auto;
}
.newsDate {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.65px;

  color: #ff256e;
}
